@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
}

.dark {
  background-color: black;
}

.dark * {
  color: white !important;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

.home .info_wrapper {
  padding-top: 10px;
  padding-bottom: 9px;
  text-align: center;
  color: #ffffff;
  background-color: #939878;
}
.home .info_wrapper .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .info_wrapper .info .info_rek {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.home .info_wrapper .info .info_rek .info_rekIcon {
  position: absolute;
  top: 5px;
  right: 5%;
}
.home .info_wrapper .info .info_rek .info_rekIcon :hover {
  fill: red;
}
.home header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 0;
}
.home header nav {
  width: 50%;
}
.home header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home header nav ul li {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.home header nav ul li .select {
  border: none;
}
.home header nav ul li .find {
  padding: 9px 21px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border-radius: 6px;
  border: 1px solid #CF6F49;
  background: #CF6F49;
  transition: all;
}
.home header nav ul li .find:hover {
  color: #CF6F49;
  background-color: #ffffff;
}
.home header nav ul .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 21px 9px 21px;
  border-radius: 6px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
.home header nav ul .card a {
  margin-left: 5px;
}
.home main .hiro_wrapper {
  background-color: #F5F5F2;
}
.home main .hiro_wrapper .hiro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.home main .hiro_wrapper .hiro .content {
  width: 50%;
}
.home main .hiro_wrapper .hiro .content .info {
  margin-bottom: 24px;
  padding: 4px 12px;
  width: 171px;
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  border-radius: 32px;
  background: #E7E8E3;
}
.home main .hiro_wrapper .hiro .content h2 {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 67.2px; /* 120% */
}
.home main .hiro_wrapper .hiro .content p {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 75%;
  color: #65665C;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.home main .hiro_wrapper .hiro .content form {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.home main .hiro_wrapper .hiro .content form input {
  width: 310px;
  padding: 9px 192px 9px 56px;
  color: #65665C;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  border-radius: 6px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
.home main .hiro_wrapper .hiro .content form button {
  width: 154px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #CF6F49;
  background: #CF6F49;
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  transition: all 0.3s ease;
}
.home main .hiro_wrapper .hiro .content form button:hover {
  color: #CF6F49;
  background-color: #ffffff;
}
.home main .hiro_wrapper .hiro div {
  width: 50%;
}
.home main .logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 67px 0 122px;
}
.home main .logos p {
  width: 243px;
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
.home main .logos ul {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.home main .how {
  padding-bottom: 128px;
  text-align: center;
}
.home main .how h2 {
  padding-bottom: 21px;
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
}
.home main .how .info {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-bottom: 61px;
  color: #65665C;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
.home main .how ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.home main .how ul li {
  text-align: center;
  width: 405px;
  padding: 48px 33px;
  border-radius: 16px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  transition: all 0.4s ease;
}
.home main .how ul li img {
  padding-bottom: 24px;
}
.home main .how ul li h3 {
  padding-bottom: 17px;
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px; /* 140% */
}
.home main .how ul li p {
  color: #65665C;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.home main .how ul li:hover {
  background: rgb(255, 218, 218);
}
.home main .best {
  padding-bottom: 126px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.home main .best .content {
  width: 50%;
}
.home main .best .content .info {
  width: 107px;
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  padding: 4px 12px;
  border-radius: 32px;
  background: #E7E8E3;
}
.home main .best .content h2 {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 28px;
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
}
.home main .best .content .text {
  width: 90%;
  color: #65665C;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
.home main .best .content .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 21px;
}
.home main .best .content .btns .btn1 {
  padding: 13px 25px;
  border-radius: 6px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}
.home main .best .content .btns .btn1:hover {
  background-color: #65665C;
  color: #FFF;
}
.home main .best .content .btns .btn2 {
  background: #fff;
}
.home main .best div {
  width: 50%;
}
.home main .forward {
  padding-bottom: 126px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.home main .forward .content {
  width: 50%;
}
.home main .forward .content .info {
  width: 127px;
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  padding: 4px 12px;
  border-radius: 32px;
  background: #E7E8E3;
}
.home main .forward .content h2 {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 28px;
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
}
.home main .forward .content .text {
  width: 90%;
  color: #65665C;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
.home main .forward .content ul {
  margin-top: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home main .forward .content ul li {
  text-align: left;
  width: 49%;
}
.home main .forward .content ul li img {
  margin-bottom: 24px;
}
.home main .forward .content ul li h3 {
  margin-bottom: 17px;
  color: #2A2C1F;
  text-align: left;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px; /* 140% */
}
.home main .forward .content ul li p {
  color: #65665C;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.home main .forward .content .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 21px;
}
.home main .forward .content .btns .btn1 {
  padding: 13px 25px;
  border-radius: 6px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}
.home main .forward .content .btns .btn1:hover {
  background-color: #65665C;
  color: #FFF;
}
.home main .forward .content .btns .btn2 {
  background: #fff;
}
.home main .forward div {
  width: 50%;
}
.home main .houses_wrapper {
  padding: 128px 0 160px;
  background-color: #F5F5F2;
}
.home main .houses_wrapper .houses .info {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  width: 92px;
  padding: 4px 12px;
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  border-radius: 32px;
  background: #E7E8E3;
}
.home main .houses_wrapper .houses h2 {
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
}
.home main .houses_wrapper .houses ul {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.home main .houses_wrapper .houses ul li {
  margin-top: 32px;
  background-color: #fff;
  transition: all 0.4s ease;
}
.home main .houses_wrapper .houses ul li:hover .contents {
  background-color: rgb(249, 178, 178);
}
.home main .houses_wrapper .houses ul li .contents {
  padding: 24px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all 0.4s ease;
}
.home main .houses_wrapper .houses ul li .contents h3 {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px; /* 140% */
  margin-bottom: 10px;
}
.home main .houses_wrapper .houses ul li .contents .prise {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 150% */
  margin-bottom: 16px;
}
.home main .houses_wrapper .houses ul li .contents .text {
  color: #65665C;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.home main .houses_wrapper .houses .btns {
  margin-left: auto;
  margin-right: auto;
  width: 22%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 21px;
}
.home main .houses_wrapper .houses .btns .btn1 {
  padding: 13px 25px;
  border-radius: 6px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}
.home main .houses_wrapper .houses .btns .btn1:hover {
  background-color: #65665C;
  color: #FFF;
}
.home main .location_wrapper {
  padding-bottom: 128px;
  background-color: #F5F5F2;
}
.home main .location_wrapper .location {
  text-align: center;
}
.home main .location_wrapper .location h2 {
  margin-bottom: 25px;
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
}
.home main .location_wrapper .location .infos {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  color: #65665C;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
.home main .location_wrapper .location ul {
  margin: 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.home main .location_wrapper .location ul li {
  margin-top: 16px;
  text-align: left;
  width: 32%;
  background-color: #ffffff;
  padding: 33px;
  border-radius: 16px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease;
}
.home main .location_wrapper .location ul li:hover {
  background: rgb(245, 199, 199);
}
.home main .location_wrapper .location ul li h3 {
  margin-bottom: 12px;
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
}
.home main .location_wrapper .location ul li .text {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.home main .location_wrapper .location .btns {
  margin-left: auto;
  margin-right: auto;
  width: 22%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 21px;
}
.home main .location_wrapper .location .btns .btn1 {
  padding: 13px 25px;
  border-radius: 6px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}
.home main .location_wrapper .location .btns .btn1:hover {
  background-color: #65665C;
  color: #FFF;
}
.home main .family {
  text-align: center;
  padding: 96px 256px;
  border-radius: 24px;
  background-color: #65665C;
}
.home main .family img {
  margin-bottom: 13px;
}
.home main .family h2 {
  margin-bottom: 29px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
}
.home main .family p {
  color: #E7E8E3;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  margin-bottom: 21px;
}
.home main .family a {
  padding: 13px 25px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border-radius: 6px;
  border: 1px solid #CF6F49;
  background: #CF6F49;
  transition: 0.3s ease;
}
.home main .family a:hover {
  background: #ffffff;
  color: #CF6F49;
  border: 2px solid #CF6F49;
}
.home main .customers {
  padding: 160px 0;
}
.home main .customers h2 {
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
}
.home main .customers .info {
  margin-top: 26px;
  color: #65665C;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
.home main .customers ul {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home main .customers ul li {
  width: 32%;
  padding: 33px;
  border-radius: 16px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease;
}
.home main .customers ul li:hover {
  background: rgb(245, 200, 200);
  box-shadow: 0px 12px 14px 10px rgba(0, 0, 0, 0.08);
}
.home main .customers ul li img {
  margin-bottom: 27px;
}
.home main .customers ul li p {
  margin-bottom: 29px;
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
.home main .customers ul li div {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home main .latest_wrapper {
  padding: 132px 0;
  background-color: #F5F5F2;
}
.home main .latest_wrapper .latest .info {
  margin-bottom: 21px;
  width: 53px;
  padding: 4px 12px;
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  border-radius: 32px;
  background: #E7E8E3;
}
.home main .latest_wrapper .latest h2 {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
  margin-bottom: 29px;
}
.home main .latest_wrapper .latest .text {
  width: 60%;
  color: #65665C;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
.home main .latest_wrapper .latest ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.home main .latest_wrapper .latest ul li {
  width: 32%;
  height: 531px;
  background-color: #ffffff;
  border-radius: 16px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease;
}
.home main .latest_wrapper .latest ul li:hover {
  background: rgb(243, 195, 195);
  box-shadow: 10px 12px 14px 0px rgba(0, 0, 0, 0.08);
}
.home main .latest_wrapper .latest ul li img {
  width: 100%;
}
.home main .latest_wrapper .latest ul li div {
  padding: 24px;
}
.home main .latest_wrapper .latest ul li div .infos {
  padding: 4px 12px;
  display: inline-block;
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  border-radius: 32px;
  background: #FAE8E1;
}
.home main .latest_wrapper .latest ul li div .date {
  display: inline-block;
  margin-left: 16px;
  color: #65665C;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.home main .latest_wrapper .latest ul li div h3 {
  margin-top: 16px;
  margin-bottom: 9px;
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px; /* 140% */
}
.home main .latest_wrapper .latest ul li div .texts {
  margin-bottom: 31px;
  color: #65665C;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.home .footer {
  padding-top: 64px;
}
.home .footer .top {
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-wrap: wrap;
  padding-bottom: 64px;
}
.home .footer .top h4 {
  margin-bottom: 16px;
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.home .footer .top a {
  margin-bottom: 16px;
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  transition: all 0.4s ease;
}
.home .footer .top a:hover {
  color: rgb(246, 60, 60);
}
.home .footer .top div .info_full {
  margin-bottom: 15px;
  color: #65665C;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.home .footer .top div form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.home .footer .top div form input {
  width: 310px;
  padding: 9px 192px 9px 56px;
  color: #65665C;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  border-radius: 6px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
.home .footer .top div form button {
  padding: 13px 28px;
  border-radius: 6px;
  border: 1px solid #CF6F49;
  background: #CF6F49;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  transition: all 0.3s ease;
}
.home .footer .top div form button:hover {
  color: #CF6F49;
  background-color: #ffffff;
}
.home .footer .top div .priv {
  color: #65665C;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}
.home .footer .bottom_wrapper {
  background-color: #F5F5F2;
  padding: 26px 0;
}
.home .footer .bottom_wrapper .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home .footer .bottom_wrapper .bottom p {
  color: #65665C;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.home .footer .bottom_wrapper .bottom ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 10%;
}

.dark {
  background-color: black;
}
.dark a svg path {
  fill: white;
}
.dark main .hiro_wrapper {
  background-color: #000000;
}

.dark * {
  color: white !important;
  transition: all 0.5s ease;
}/*# sourceMappingURL=style.css.map */