.dark  {
    a {
        svg {
            path {
                fill: white;
            }
        }
    }
    main {
        .hiro_wrapper {
            background-color: #000000;
        }
    }
    background-color: black;
   }
   
.dark * {
    color: white !important;
    transition: all 0.5s ease;
}